@charset "utf-8";

/* menu-all-list */

.menu-all-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 2.6316%;

  gap: 3rem;
}

.menu-all-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;

  background: #f3f0eb;

  transition: 0.4s;
}

.menu-all-list li a figure {
  width: 100%;
}

.menu-all-list li a figure img {
  width: 100%;
  height: 100%;
}

.menu-all-list li a dl {
  margin: 1.5rem 0;
}

.menu-all-list li a dt {
  font-weight: 700;

  font-size: var(--fz-l);
  color: var(--darck-100);
}

.menu-all-list li a dd {
  font-weight: 400;
  font-size: var(--fz-s);
  color: var(--darck-60);
}

.menu-all-list li:hover {
  background: var(--first-color);
}

.menu-all-list li:hover dt,
.menu-all-list li:hover dd,
.menu-all-list li:hover strong {
  color: var(--light-100);
}

.menu-all-list li a strong {
  font-weight: 700;
  font-size: var(--fz-s);
}

/* s.commpany */

.company .brand-story {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company .brand-story figure {
  width: 59.7rem;
  height: 65.9rem;
  aspect-ratio: 1/1.1039;
}

.company .brand-story figure img {
  width: 100%;
  height: 100%;
}

.company .brand-story .content {
  width: 58.6rem;
  width: 41.2676%;
}

.company .brand-story .content .company-text strong {
  font-weight: 800;
  font-size: var(--fz-xl);

  color: #000;
}

.company .brand-story .content .company-text p {
  font-weight: 400;
  font-size: var(--fz-m);

  color: var(--darck-60);
  padding-top: 1%;
}

.company-all .brand-story:nth-child(odd) {
  flex-direction: row-reverse;
}
/* e.commpany */

/* s.event */

.event-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-top: 5rem;
  padding-top: 3.2895%;
}

.event-list li a {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.event-list li a figure {
  width: 36.5rem;
  height: 36.5rem;
  position: relative;

  border: 0.5px solid rgba(0, 0, 0, 0.2);
}

.event-list li a figure img {
  width: 100%;
  height: 100%;
}

.event-list li {
  text-align: center;
}

.event-list li a .event-text {
  padding-top: 2%;
}

.event-list li a .event-text dt {
  font-size: var(--fz-l);
  font-weight: 800;
  color: var(--darck-100);
}

.event-list li a .event-text dd {
  font-size: var(--fz-m);
  font-weight: 400;
  color: var(--darck-60);
}

/* e.event */

/* 반응형  000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/

@media screen and (max-width: 1900px) {
  .event-list li a figure {
    width: 30rem;
    height: 30rem;
  }
}

@media screen and (max-width: 1620px) {
  .event-list li a figure {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (max-width: 1440px) {
  /* all */

  .menu-all-list li {
    width: 29.4rem;
    width: 100%;

    padding: 2.2rem 3.4rem;
  }

  /* company */
  .company .brand-story .content {
    width: 44.2rem;
    width: 47.8355%;
  }

  .company .brand-story .content .more-btn {
    width: 18.4rem;
    width: 41.8182%;
    height: 6.3rem;
  }

  .company .brand-story figure {
    width: 38.8rem;
    width: 41.9913%;
  }
  /* company */
}

@media screen and (max-width: 1024px) {
  /* all */

  .menu-all-list {
    gap: 2rem;
  }

  .menu-all-list li {
    width: 18.5rem;
    width: 100%;

    padding: 1.5rem 2.2rem;
  }

  .menu-all-list li a dl {
    padding-top: 0.2rem;
  }

  /* all */

  .event-list li {
    flex: 1 1 40%;
    margin-bottom: var(--m-s);
  }

  .event-list li a figure {
    width: 30rem;
    height: 30rem;
  }
}

@media screen and (max-width: 1024px) {
  /* all */

  .menu-all-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  /* event */

  /* company */
  .company .brand-story {
    display: flex;

    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .company .brand-story .content .more-btn {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);

    gap: 1.5rem;
    z-index: 1;
  }

  .company .brand-story .content .company-text {
    padding: 0.5rem 0 0.5rem;
  }

  .company .brand-story .content {
    width: 100%;
    text-align: center;
    margin-top: 0;
  }

  .company .brand-story figure {
    width: 100%;
    height: 22.8rem;
    margin-top: 1rem;
  }

  .company .brand-story figure img {
    width: 100%;
    height: 100%;
    filter: brightness(0.4);
  }

  .event-list li figure {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (max-width: 560px) {
  .event-list li {
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 500px) {
  /* all */

  .menu-all-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  .event-list li {
    flex: 1 1 50%;
  }
}
