@charset "utf-8";

/* s.commpany */

.company .brand-story {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company .brand-story figure {
  width: 59.7rem;
  height: 65.9rem;
  aspect-ratio: 1/1.1039;
}

.company .brand-story figure img {
  width: 100%;
  height: 100%;
}

.company .brand-story .content {
  width: 58.6rem;
  width: 41.2676%;
}

.company-text strong {
  font-weight: 800;
  font-size: var(--text-title);

  color: #000;
}

.company-text p {
  font-weight: 400;
  font-size: var(--text);

  color: var(--darck-60);
  padding-top: 1%;
}

/* e.commpany */

/* s.event */

.event-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-top: 5rem;
  padding-top: 3.2895%;
}

.event-list li a {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.event-list li a figure {
  width: 36.5rem;
  height: 36.5rem;
  position: relative;

  border: 0.5px solid rgba(0, 0, 0, 0.2);
}

.event-list li a figure img {
  width: 100%;
  height: 100%;
}

.event-list li {
  text-align: center;
}

.event-list li a .event-text {
  padding-top: 2%;
}

.event-list li a .event-text dt {
  font-size: var(--second-item-title);
  font-weight: 800;
  color: var(--darck-100);
}

.event-list li a .event-text dd {
  font-size: var(--second-item-text);
  font-weight: 400;
  color: var(--darck-60);
}

/* e.event */

/* 반응형  000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/

@media screen and (max-width: 1900px) {
  .event-list li a figure {
    width: 30rem;
    height: 30rem;
  }
}

@media screen and (max-width: 1620px) {
  .event-list li a figure {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (max-width: 1440px) {
  .company .brand-story .content {
    width: 44.2rem;
    width: 47.8355%;
  }

  .company .brand-story .content .more-btn {
    width: 18.4rem;
    width: 41.8182%;
    height: 6.3rem;
  }

  .company .brand-story figure {
    width: 38.8rem;
    width: 41.9913%;
  }
}

@media screen and (max-width: 1024px) {
  .event-list li {
    flex: 1 1 40%;
    margin-bottom: var(--m-s);
  }

  .event-list li a figure {
    width: 30rem;
    height: 30rem;
  }
}

@media screen and (max-width: 1024px) {
  /* company */
  .company .brand-story {
    display: flex;

    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .company .brand-story .content .more-btn {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);

    gap: 1.5rem;
    z-index: 1;
  }

  .company .brand-story .content .company-text {
    padding: 0.5rem 0 0.5rem;
  }

  .company .brand-story .content {
    width: 100%;
    text-align: center;
    margin-top: 0;
  }

  .company .brand-story figure {
    width: 100%;
    height: 22.8rem;
    margin-top: 1rem;
  }

  .company .brand-story figure img {
    width: 100%;
    height: 100%;
    filter: brightness(0.4);
  }

  .event-list li figure {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (max-width: 560px) {
  .event-list {
    gap: 2rem;
  }

  .event-list li {
    flex: 1 1 100%;
  }
}
