@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --darck-100: #000;
  --darck-60: #666666;
  --light-100: #fff;
  --btn-color: #b4b4b4;

  --first-color: #00714f;
  --second-color: #f3f2f3;

  /* 헤더 */
  --nav: clamp(1.8rem, 1vw, 2rem);
  /* 헤더 */

  /* 푸터 */
  --foot-nav: clamp(1.6rem, 1vw, 2rem);
  --foot-address: clamp(1.2rem, 0.9vw, 1.8rem);
  /* 푸터 */

  /*  메인 배너 */
  /* --first-banner-title: 4rem;
  --first-banner-text: 2rem; */
  --first-banner-title: clamp(3.5rem, 2vw, 4rem);
  --first-banner-text: clamp(1.5rem, 1vw, 2rem);
  /*  메인 배너 */

  /*  서브 배너 */
  --second-banner-title: 4rem;
  --second-banner-text: clamp(1.5rem, 1vw, 2rem);
  /*  서브 배너 */

  /*  more */
  --more-title: clamp(2rem, 1.5vw, 3rem);
  /*  more */

  /*  아이템 */
  /*  서비스아이템 */
  --service-item-title: 2.5rem;
  --service-item-text: 2rem;
  /*  서비스아이템 */

  /*  제품아이템 */
  --first-item-title: 2.4rem;
  --first-item-text: 1.5rem;
  --first-item-price: 2rem;
  /*  제품아이템 */

  /*  제품아이템2 */
  --second-item-title: 2.4rem;
  --second-item-text: 2rem;
  /*  제품아이템2 */
  /*  아이템 */

  /*  text */
  /* --text-title: 3.5rem;
  --text: 2rem; */
  --text-title: clamp(2.5rem, 1.8vw, 3.5rem);
  --text: clamp(1.5rem, 1vw, 2rem);
  /*  text */

  /*  Q&A */
  --question: clamp(2rem, 1.3vw, 2.5rem);
  --answer: clamp(1.4rem, 0.9vw, 1.8rem);
  --question-btn: 1.8rem;
  /*  Q&A */

  /*  버튼 */
  --btn-margin-top: 3rem;
  --btn-text: 2rem;
  /*  버튼 */

  /* 마진 */
  --list-margin: 5rem;
  /* 마진 */

  /* 아이콘 사이즈 */
  --top-icon-size: 4rem;
  --bottom-icon-size: 3rem;
  /* 아이콘 사이즈 */
}

::selection {
  background: var(--first-color);
  color: var(--light-100);
}

h3 {
  font-weight: 800;
  color: var(--darck-100);
  text-align: center;

  font-size: clamp(3rem, 1.8vw, 3.5rem);
  margin-bottom: 3rem;
}

section {
  margin-bottom: 10rem;
  margin-bottom: 5.2083%;
}

html {
  font-size: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font: 2rem/1.5 Pretendard, sans-serif;
  color: var(--darck-100);
  word-break: keep-all;

  background: var(--light-100);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: var(--first-color);
  font-weight: 700;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.inner {
  width: 152rem;
  margin: 0 auto;

  width: 79.1667%;
}

.top-btn {
  position: fixed;
  display: flex;
  flex-direction: column;

  bottom: 5rem;
  right: 7.5rem;
  z-index: 100;

  bottom: 11.5%;
  right: 3.9063%;
}

.top {
  display: block;
  width: 7.4rem;
  height: 7.4rem;
  border-radius: 100%;
  background: var(--darck-100)
    url(https://www.handsome.co.kr/resources/pc/ext/images/ico-button-tooltop.png)
    no-repeat center/40%;
  /* 
  border: 0.5px solid #ffffff; */
}

.more-btn {
  width: 24rem;
  height: 7.2rem;
  background: var(--btn-color);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  margin-top: var(--btn-margin-top);

  font-weight: 700;
  font-size: var(--btn-text);
  color: #fff;

  transition: 0.4s;
}

.more-btn:hover {
  background: var(--first-color);
  color: #fff;
}

.event-list li figure {
  overflow: hidden;
}

.event-list li :hover img {
  transition: transform 0.5s ease;
  transform: scale(1.1);
}

/* 반응형00000000000000000000000000000000000000000000000000000000000000000000000000 */

@media screen and (max-width: 1024px) {
  .top {
    width: 5rem;
    height: 5rem;
  }
}

@media (max-width: 500px) {
  .inner {
    width: 90%;
  }

  .more-btn {
    width: 17.5rem;
    height: 5.1rem;
  }
}
