@charset "utf-8";

/* s. footer */
#footer {
  background: var(--second-color);

  padding: 5% 0;
}

.foot-nav {
  display: flex;
  margin-left: -2rem;

  flex-wrap: wrap;
}

.foot-nav li {
  font-weight: 700;
  font-size: var(--foot-nav);
  flex-shrink: 0;
}

.foot-nav li a {
  display: block;
  padding: 1rem 2rem;
  color: var(--darck-100);
}

.footer-con {
  display: flex;

  padding-top: 1.5%;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--darck-60);
}

address {
  font-weight: 500;
  font-size: var(--foot-address);
}

.in {
  display: flex;
  gap: 4.9rem;
  padding: 5% 0;
}

.foot-icon {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.foot-logo {
  display: block;
  width: 30rem;
  height: 3.5rem;
  background: url(../img/logo-darck.svg) no-repeat 50% / contain;
}

.link-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-icon .instagram {
  display: block;
  width: 3rem;
  height: 3rem;

  background: url(../img/instagram-icon.svg) no-repeat 50% / contain;
}
.link-icon .youtube {
  display: block;
  width: 4rem;
  height: 3rem;

  background: url(../img/youtube-icon.svg) no-repeat 50% / contain;
}
.link-icon .Facebook {
  display: block;
  width: 3rem;
  height: 3rem;

  background: url(../img/Facebook-icon.svg) no-repeat 50% / contain;
}
.link-icon .inline {
  display: block;
  width: 3rem;
  height: 3rem;

  background: url(../img/inline-icon.svg) no-repeat 50% / contain;
}
.link-icon .kakaotalk {
  display: block;
  width: 3.5rem;
  height: 3.5rem;

  background: url(../img/kakaotalk-icon.svg) no-repeat 50% / contain;
}

/* 반응형00000000000000000000000000000000000000000000000000000000000000000000000000 */

@media screen and (max-width: 1400px) {
  .foot-logo {
    width: 20rem;
  }

  .link-icon .instagram,
  .link-icon .youtube,
  .link-icon .Facebook,
  .link-icon .inline,
  .link-icon .kakaotalk {
    display: block;
    width: 2rem;
    height: 2rem;
  }

  .foot-icon {
    gap: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .foot-logo {
    width: 15rem;
    height: 5rem;
  }

  .footer-con {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .in {
    gap: 3rem;
    padding: 2rem 0;
  }

  .foot-logo {
    width: 20rem;
    height: 4rem;
  }

  .foot-icon {
    gap: 2rem;
  }

  address {
    margin-top: 2rem;
    font-weight: 300;
  }
}
