@charset "utf-8";

.event-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 2rem 2rem;
  flex: 1 1 30%;
}

.event-list li {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* width: 49.2rem; */
  width: 32.3684%;
}

.event-list li a {
  width: 100%;
  height: 100%;
}

.event-list li figure {
  position: relative;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.event-list li img {
  width: 100%;
  height: 100%;
}

.event-list li {
  text-align: start;
  position: relative;
}

.event-list li .event-text {
  padding-top: 3.5%;
}

.event-list li .event-text dt {
  font-size: var(--service-item-title);
  font-weight: 800;
  color: var(--darck-100);
}

.event-list li .event-text dd {
  font-size: var(--service-item-text);
  font-weight: 400;
  color: var(--darck-60);
}

/* 반응형  000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
@media (max-width: 1900px) {
  .event-list li {
    flex: 1 1 30%;
  }
}

@media (max-width: 768px) {
  .event-list li {
    flex: 1 1 50%;
  }

  .event-list li figure {
    height: 30rem;
  }
}
